<p style="color: green"><%= notice %></p>

<h1><%= t('page_titles.books') %></h1>

<div id="books">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('statements.show_this_book'), book %>
      </p>
    </div>
  <% end %>
</div>
<nav class="page-nav">
  <%= link_to t('statements.new_book'), new_book_path %>
</nav>
